<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to DataVault</title>
    <link rel="stylesheet" href="/core/templates/css/style.css">
</head>
<body>
    <div class="container">
        <h1 class="heading">Welcome to<span> DataVault</span></h1>
        <marquee behavior="alternate" direction="right">
            <p class="para">Your secure and scalable data management solution.</p>
        </marquee>
       
        <button class="btn">
            <a class="link-style" href="{% url 'dashboard' %}">Go to Dashboard</a>
        </button>
        
    </div>
  
</body>
</html>
